header {
  .logo-column {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    .header-logo {
      float: left;
      width: 50px;
      height: 50px;
      background-size: cover;
      display: flex;
      -webkit-animation: rotation 15s infinite linear;
      animation: rotation 15s infinite linear;
      -moz-animation: rotation 15s infinite linear;
    }
    h1.logo-font {
      display: flex;
      font-family: 'Roboto', sans-serif;
      line-height: 50px;
      font-size: 1rem;
      color: black;
      left: 0;
      margin-top: 0;
      vertical-align: middle;
    }
  }
  .icon-container {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    height: 50px;

    a {
      display: flex;
      align-self: center;
      color: #66FF99;
      opacity: 0.7;
      font-size: 1.5;

      &:hover {
        opacity: 1;
      }
    }
  }

  @-webkit-keyframes rotation {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -moz-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
      -moz-transform: rotate(359deg);
    }
  }

  @-moz-keyframes rotation {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -moz-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
      -moz-transform: rotate(359deg);
    }
  }

  @keyframes rotation {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -moz-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
      -moz-transform: rotate(359deg);
    }
  }

}
